.canvas-stage {
  position: relative;       
  width: 65%;               
  height: 100%;
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 8px solid #cf0000;
  overflow: hidden;
}

/* the canvas element itself */
.gl-canvas {
    display: block;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.6);
}