.canvas-stage {
  position: relative;       
  width: 50%;               
  height: 50%;
  background: #111111;
  display: flex;
  align-items: left;
  justify-content: left;
  border-right: 1px solid #2a2a2a;
}

/* the canvas element itself */
.gl-canvas {
    display: block;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.6);
}